#ButtonContainer {
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    padding: 1%;
    background-color: beige;
    box-shadow: 0px 2px 8px grey;
}

#titleText{
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 2vw;
}

.btn{
 position: relative;
    display: block;
 margin: 0 auto;
}

#SummaryContainer{
    z-index: -1;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: 55%;
}

#SummaryText{
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 2vw;
}

#Logo {
    position: absolute;
    bottom: 1%;
    left: 0.2%;
    width:10%;
}
