#ButtonContainer {
    z-index: -1;
    position: absolute;
    top: 35%;
    left: 40%;
    width: 20%;
}

.btn{
  font-size: 2vw;  
}

#Logo {
    position: absolute;
    bottom: 1%;
    left: 0.2%; 
    width:10%; 
}