body{
 background-image:url('/static/images/header.jpg');
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
}

#mainNav{
    background: gray;
    opacity: 0.5;
}

.navbar-brand{
    font-size: 2vw;
}
    
#ButtonContainer {
    position: relative;
    width: 100%;
    text-align: center;    
}

.btn{
    text-align: center;        
    font-size: 135%;
    width: 35%;
}

#Logo {
    position: absolute;
    bottom: 0.3%;
    left: 0.2%; 
    width:10%; 
}

@media only screen and (max-width: 450px) {
    .navbar-brand{
        font-size: 90%;
    }
    
    .btn{
      width: 65%;
      font-size: 80%;
    }
}