body{
 background-image:url('/static/images/header.jpg');
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
 background-attachment: fixed;      
}

#mainNav{
    background: gray;
    opacity: 0.9;
}

.navbar-brand{
    font-size: 2vw;
}

#ButtonContainer {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    
}

#titleText{
    position: relative;
    color: white;
    font-size: 2.5vw;
}

#searchboxDiv{
   position: relative;
   display: inline-block;
   margin: auto;
   width: 100%;
}

#SearchBox{
    height: 35px;
    width: 40%;
    vertical-align: middle;
    text-align: center;
}

.btn{
  position: relative;
  height: 40%;
  text-align: center;    
  font-size: 1vw;
  vertical-align: middle;
}

#SummaryContainer{
    position: absolute;
    top: 35%;
    left: 2%;
    width: 96%;
}

#SummaryText{
    position: relative;
    top: 0%;
    text-align: center;
    color: aliceblue;
    font-family: Verdana;
    font-size: 4vw;
}

@media only screen and (max-width: 450px) {
    .navbar-brand{
      font-size: 90%;
    }
    
    #titleText{
      font-size: 100%;
    }
    
    #SearchBox{
      width: 50%;
          
    }
    
    .btn{
      width: 30%;
      height: 35px;
      font-size: 50%;
    }
    
    #SummaryText{
      font-size: 120%;    
    }
}
