body{
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
}

#ButtonContainer {
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 13%;
    background-color: beige;
    box-shadow: 0px 2px 8px grey;
}

#titleText{
    width:100%;
    top: 0%;
    text-align: center;
	margin-top:25px;
}

#SummaryContainer{
    width: 100%;
    margin-top:20px;
}

#SummaryText{
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 2vw;
}

#Logo {
    position: absolute;
    bottom: 1%;
    left: 0.2%;
    width:10%;
}

/*--- @Run ---*/
#SearchBox{
    width: 50%;
    margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #8e8d8d;
	margin-top: 10px;
}
#searchSummaries{margin-top:-6px;}
#navbarSupportedContent{width:100%;}
.collapse {display:block;}
.bg-black{background-color:#000;}
.list-group-item:first-child{border:0;}
.list-group-item:last-child{margin-bottom:30px;border:0;}
.list-group-item{color:#86bc25;box-shadow: 3px 2px 7px #B9B9B9; margin-bottom:10px;}
.list-group-item:hover{color:#528000;}
.navbar-nav{float:right;}
.navbar-dark .navbar-nav .nav-link{color:#fff; text-align:center;}
.search-area{ width: 100%;text-align: center;}
.btn-primary{background-color: #86bc25;border-color: #86bc25; cursor:pointer;border-radius: .25rem;}
.btn-primary:hover{background-color: #528000;border-color: #528000;}
@media (max-width: 991px) 
{ 
	#navbarSupportedContent .navbar-nav{float:none;}
	.collapse {
	  display: none;
	  &.show {
		display: block;
		}
	}
}
