body{
 background-image:url('/static/images/header.jpg');
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
 background-attachment: fixed;       
}

#mainNav{
    background: gray;
    opacity: 0.9;
}

.navbar-brand{
    font-size: 1.5vw;
}

#selectFileContainer {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
}

#titleText{
    position: relative;
    color: white;
    font-size: 2.5vw;
}

#selectFileDiv{
   position: relative;
   text-align: center;    
}

#UploadCV{
  margin:auto;
  width:20%;
  font-family:arial;
  color: white;
  text-align: center;
  border: 1px solid orangered;
}


#ButtonsContianer{
   position: relative;
   display:inline-block;
   vertical-align: middle;
   margin: auto;
  text-align: center;
    margin-left: -5%;
}

.btn{
  position: relative;
  vertical-align: middle;
  width:100%;
  text-align: center;  
  font-size: 1.5vw;
}

#buttonSummarize{
   width:150%;
}

#filesUploadedStatus{
    position: relative;
    color: white;
    font-size: 2.5vw;    
}


@media only screen and (max-width: 450px) {
    .navbar-brand{
      font-size: 90%;
    }
    
    #titleText{
      font-size: 100%;
    }
    
    #UploadCV{
      width:85%;
    }
    
    #ButtonsContianer{
     margin-left: -12%;   
    }

    .btn{
      font-size: 60%;
    }
    
    #filesUploadedStatus{
        font-size: 100%;
    }
}