body{
 background-image:url('/static/images/header.jpg');
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
 background-attachment: fixed;       
}

#mainNav{
    background: gray;
    opacity: 0.9;
}

.navbar-brand{
    font-size: 1.5vw;
}

#selectFileContainer {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
}

#titleText{
    position: relative;
    color: white;
    font-size: 2.5vw;
}

#selectFileDiv{
   position: relative;
   margin: auto;
}

#UploadCV{
    height: 0;
    width: 0;
}

#UploadCVLabel {  
  position: relative;
  width:10%;
  height: 32px;    
  text-align: center;    
  font-family:arial;
  background-color: orangered;
}

#UploadCVLabel p{
    position: relative;
    vertical-align: middle;
    line-height: 32px; 
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

#ButtonsContianer{
   position: relative;
   display:inline-block;
   vertical-align: middle;
   margin: auto;
  text-align: center;
    margin-left: -5%;
}

.btn{
  position: relative;
  vertical-align: middle;
  width:100%;
  text-align: center;  
  font-size: 1.5vw;
}

#buttonSummarize{
   width:150%;
}

#filesUploadedStatus{
    position: relative;
    color: white;
    font-size: 2.5vw;    
}

#Logo {
    position: absolute;
    bottom: 1%;
    left: 0.2%; 
    width:10%; 
}

@media only screen and (max-width: 450px) {
    .navbar-brand{
      font-size: 90%;
    }
    
    #titleText{
      font-size: 100%;
    }
    
    #UploadCVLabel {  
     width:30%;   
    }
    
    #UploadCVLabel p{
     font-size: 70%;    
    }
    
    #ButtonsContianer{
     margin-left: -8%;   
    }

    .btn{
      font-size: 60%;
    }
    
    #filesUploadedStatus{
        font-size: 100%;
    }
}